<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:auditing="http://www.springframework.org/schema/p"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">


    <!--<jpa:repository base-package="yaycrawler.common.dao.repository"-->
                      <!--entity-manager-factory-ref="entityManagerFactory"-->
                      <!--transaction-manager-ref="transactionManager"/>-->

    <!--<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">-->
        <!--<property name="entityManagerFactory" ref="entityManagerFactory"/>-->
    <!--</bean>-->


    <!--&lt;!&ndash;detailed logging information on what methods are called inside JpaRepository, e.g&ndash;&gt;-->
    <!--<bean id="customizableTraceInterceptor" class="-->
    <!--org.springframework.aop.interceptor.CustomizableTraceInterceptor">-->
        <!--<property name="enterMessage" value="Entering $[methodName]($[arguments])"/>-->
        <!--<property name="exitMessage" value="Leaving $[methodName](): $[returnValue]"/>-->
    <!--</bean>-->
    <!--<aop:config>-->
        <!--<aop:advisor advice-ref="customizableTraceInterceptor"-->
                     <!--pointcut="execution(public * org.springframework.data.jpa.repository.JpaRepository+.*(..))"/>-->
    <!--</aop:config>-->


</beans>